{% extends "base.html" %}
{% block title %}ナンバーズ３予想{% endblock %} 

{% block content %}
    <img src="/static/src/numbers3.png" />
    <form action="/make_n3" method="get">
        <button name="make_number" class="btn btn-primary" value="from get">ナンバーズ3の番号を予想する</button>
    </form>

    <h2>予想番号</h2>
    <div class="n3-imgs">
        <img src={{img_100}} />
        <img src={{img_10}} />
        <img src={{img_1}} />
    </div>

    <img src="/static/src/manekineko.png" class="manekineko"/>
{% endblock %}